@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        h1   {
            font-family: 'Times New Roman', Times, serif, cursive
        }
    </style>
</head>
<body class="frontpagebody">
        <div class="text-center">
        <h1 class="display-4">Rodeo</h1>

        </div>

   
</body>
</html>
