@page
@model IndexModel
@{
    ViewData["Title"] = "Rodeo online booking";
}
<!DOCTYPE html>
<html>
<head>
</head>
<body class="frontpagebody">
    <div class="text-center">
        <h1 class="h1">Rodeo</h1>
    </div>
</body>
</html>
