@page
@model Booking_Gruppe.Pages.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Login Page</title>
</head>
<body>
<div>
    <h1>Rodeo Login Side</h1>
    
    <form method="post">
        Navn: <input type="text" asp-for="@Model.Username" /><br/>
        Kode: <input type="password" asp-for="@Model.Password" /><br />
        <input type="submit" value="Login" class="btn btn-primary" /><br />
    </form>
</div>
</body>
</html>