@page
@model Booking_Gruppe.Pages.LogoutModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Logout Successful</title>
</head>
<body>
<div>
    <h1>Logout Successful</h1>
    <a href="/">Go to Front Page</a>
</div>
</body>
</html>