@page
@model Booking_Gruppe.Pages.Om_os.IndexModel
@{
    ViewData["Title"] = "Om os";
}

<h1 class="jumbotron">Om os</h1>

<br></br>

<h2>De gladeste kollegaer</h2>

<p>
    RODEO er en ung og dynamisk virksomhed, som siden 2015 har åbnet hele 10 saloner fordelt i Københavnsområdet, herunder på Østerbro, Vesterbro, Nørrebro, Amager, Frederiksberg, i Valby, København K, Lyngby og Ørestad.
    Vores lille familie med knap 80 medarbejdere er fordelt ud i disse 10 saloner, hvor vi servicerer omtrent 7000 kunder om måneden. Vil du gerne være en del af teamet? Vi leder altid efter de helt rigtige medarbejdere, der passer ind i vores friske, innovative og seje miljø.
</p>

<br></br>
<br></br>
<h2>Kontakt os</h2>
 <div class="row">
    <div class="col-sm-4 p-3  text-center">
<p>RODEO Ørestad</p>
<p>Kay Fiskers Pl. 4, 2200 Kbh S</p>
<p>+45 11 22 33 44</p></div>
    <div class="col-sm-4 p-3 text-center"><p>RODEO Amager</p>
                                                             <p>Amagerbrogade 78, 2300 København S</p>
                                                             <p>+45 22 33 44 55</p>
</div>
    <div class="col-sm-4 p-3 text-center"><p>RODEO City</p>
                                                                <p>Klosterstræde 16, 1157 København K</p>
                                                                <p>+45 33 44 55 66</p></div>
    <div class="col-sm-4 p-3 text-center"><p>RODEO Nørrebro</p>
                                                               <p>Nørrebrogade 28, 2200 Kbh N</p>
                                                               <p>+45 44 55 66 77</p></div>
    <div class="col-sm-4 p-3 text-center"><p>RODEO Østerbro</p>
                                                             <p>Østerbrogade 49, 2100 København Ø</p>
                                                             <p>+45 55 66 77 88</p></div>
    <div class="col-sm-4 p-3 text-center"><p>RODEO Lyngby</p>
                                                                <p>Jernbanepladsen 10, 2800 Kongens Lyngby</p>
                                                                <p>+45 66 77 88 99</p></div>
	<div class="col-sm-4 p-3 text-center"><p>RODEO Valby</p>
                                                                <p>Valby Langgade 36, 2500 Valby</p>
                                                                <p>+45 77 88 99 00</p></div>
    <div class="col-sm-4 p-3 text-center"><p>RODEO Vesterbro</p>
                                                             <p>Istedgade 43A, 1650 København V</p>
                                                             <p>+45 88 99 00 11</p>
</div>
    <div class="col-sm-4 p-3 text-center"><p>RODEO Rolighedsvej</p>
                                                                <p>Rolighedsvej 9, 1958 Frederiksberg</p>
                                                                <p>+45 12 34 56 78</p>

</div>
  </div>


