html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #edd18f;
    
}

h1 {
    color: black;
}

p {
    color: black;
}

nav {
    background-color: #000000;
}

.menutext {
    color: white;
    font-size: 30px;
}
img {
    width: 15%
}
.frontpagebody {
    background-image: url('../images/pexels-stefan-lorentz-668196 (1).jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.h1 {
    text-align: center;
    font-family: lucida handwriting;
    font-size: 250px;
    color: #edd18f;
    text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px darkred;
}

.om_os {
    font-family: Stencil Std, fantasy;
}

.kontakt_os {
    text-align: center;
    font-family: Stencil Std, fantasy;
}